.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4px;
  text-align: center;
}
input {
  margin-top: 3%;
  margin-left: 5.3%;
  width: 30%;
  height: 40px;
}
